<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Cat Facts</title>
</head>
<body>
    <h2>Fact:</h2>
    <h3 id="fact"> <%= catFact %></h3>
</br>
</br>
    <a href="/cats/fact">Get Another Cat Fact</a>
</br>
</br>
    <a href="/">Home</a>
</body>
</html>